<article class='Post' data-preserve-attribute='style'>
  <header>
    <h1 t:bind='post.title' />
    <p t:bind='post:date' />
    <menu type='list'>

    </menu>
  </header>
  <div t:bind='post.body' t:format='markdown' />

</article>

<aside class='Comments'>
  <header>Comments</header>
  
  <div t:repeat='comments' data-preserve-attribute='style'>
    <header>
      <h1><strong t:bind='.name' /> says</h1>
      <span t:bind='.created_at:date' />
      <menu type='list'>

      </menu>
    </header>
    <div t:bind='.body' t:format='markdown' />
  </div>

</aside>